@charset "UTF-8";
/* Global */
*, * ::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  color: red;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Josefin Sans", sans-serif;
  background: #88ace8;
}

